div.container
  h1 -- Hello World
  p
    -- This is the index page. Its content has been pre-rendered on the server.
  p
    -- Make sure you also visit the 
    router-link path="/about" -- about page
    -- !
